.home{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 100px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.background{
    background-image: url('../data/backgroundImage.webp');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  form button {
    background: green;
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 0px;
  }
  form.login{
    margin: 100px auto;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    min-height: 250px;
    margin-right: 80px;
  }

.desc{
   margin: 200px auto;
   font-size: 30px;
   color: rgb(235, 219, 219);
   width: 400px;
   height: 300px;
}
.desc a {
    color: white;
    font-size: 18px;
}

form a {
    text-decoration: none;
    font-size: 10px;
    color: rgb(51, 51, 224);
}
form span{
    font-size: 10px;
    margin-left: 150px;
    margin-bottom: 10px;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid rgb(155, 57, 57);
  color: rgb(191, 117, 117);
  border-radius: 4px;
  margin: 20px 0;
}
 